<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title> Personal Portfolio </title>
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="static/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="static/assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <!--END HEAD SECTION -->
<body>   
     <!-- NAV SECTION -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SARANYA K</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header-section">HOME</a></li>
                    <li><a href="#about-section">ABOUT</a></li>
                    <li><a href="#products-section">MY-WORK</a></li>
                    <li><a href="#contact-section">CONTACT ME</a></li>
                    
                </ul>
            </div>
           
        </div>
    </div>
     <!--END NAV SECTION -->
     <!-- HEADER SECTION -->
    <div id="header-section">
        <div class="container">
            <div class="row centered">
                <div class="col-md-8 col-md-offset-2">
                    <h1><strong> SARANYA K</strong>          
                     
                    </h1>
                     <br /> <br /> <br />
                    <h2> Data Analyst</h2>
                     <br />
                  <a href="#about-section">  <i class="fa fa-angle-double-down fa-5x down-icon"></i> </a>
                </div>
            </div>
           
        </div>
       
    </div> 
      <!--END HEADER SECTION -->
    <!--ABOUT SECTION -->
    <div id="about-section" >
        <div class="container" >
            <div class="row main-top-margin text-justify">
                <div class="col-md-8 col-md-offset-2 " data-scrollreveal="enter top and move 100px, wait 0.3s">
                    
                    
                    <h1>ABOUT ME</h1>
                    <h4>
                        A highly skilled and results-driven Data Scientist with  Proficient in statistical analysis, machine learning, and data visualization. Possess a strong background in programming languages such as Python and R, along with expertise in utilizing SQL for data extraction and manipulation. <br>
                        
                    </h4>
                    <h3>  <strong class="color-red">CONTACT DETAILS</strong></h3>
                    <h4>☎ Email: saranyasarusiva9999@gmail.com </h4>
                    <h4>🌎 Address: Banglore, Karnataka</h4> <br>

                    </p>

                </div>
            </div>
            <!-- ./ Main Heading-->
            <div class="row main-low-margin text-center">
                <div class="col-md-3 " data-scrollreveal="enter left and move 100px, wait 0.4s">
                    <img class="img-circle" src="static/assets/img/saru.png" alt="">
                    <h4><strong>SARANYA K</strong> </h4>
                    <p>
                        A passionate data enthusiast constantly seeking to stay updated with the latest trends and advancements in the data science industry. 
                    </p>
                     <p>

                    <p>
  <a href="https://github.com/saranya9876" target="_blank"><i class="fa fa-github-square fa-2x color-facebook"></i></a>
  <a href="https://twitter.com/sherin_sony99" target="_blank"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
  <a href="https://www.youtube.com/YourYouTubeChannel" target="_blank"><i class="fa fa-youtube-square fa-2x color-youtube"></i></a>
  <a href="https://www.linkedin.com/in/saranya-saru-7b9640203/" target="_blank"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
</p>



                </div>
             
                <div class="col-md-7 col-sm-7 col-md-offset-1  text-justify" data-scrollreveal="enter right and move 100px, wait 0.4s">
                    <h3><strong class="color-blue">MY JOURNEY AND PROJECTS</strong></h3>
                    <p>
                        In my academic journey, I have undertaken various data science projects encompassing both machine learning and deep learning, leveraging the power of Python as the primary programming language. These projects have been instrumental in honing my analytical skills and developing a strong foundation in the realm of artificial intelligence. Throughout these endeavors, I have explored diverse datasets, applied sophisticated algorithms, and crafted predictive models to extract valuable insights and address complex challenges. 
                    </p>
                    <p>
                        Moreover, I have delved into the fascinating world of deep learning, employing neural networks and advanced architectures to tackle intricate tasks, such as image and natural language processing. These academic projects have not only expanded my technical proficiency but also fostered a passion for data-driven solutions, motivating me to continue exploring cutting-edge advancements in the field of data science.
                    </p>
                    <h3>  <strong class="color-red">PROGRAMMING SKILLS</strong></h3>
                    <h4>✅ Python</h4>
                    <h4>✅ Julia</h4>
                    <h4>✅ Java</h4>
                    <h4>✅ C/C++</h4>

                </div>
            </div>
              <!-- ./ Row Content-->
        </div>
    </div>
    <!-- END ABOUT SECTION -->
   
   
    <!--WORK/PRODUCTS SECTION -->
    <div id="products-section" >
         <div class="container" >
            <div class="row main-top-margin text-center" data-scrollreveal="enter top and move 100px, wait 0.3s">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>MY-WORK </h1>
                    <h4>
                        Data Science Projects and Achievements
                    </h4>
                </div>
            </div>
             <!-- ./ Main Heading-->
             <hr />
            <div class="row main-low-margin" >
                <div class="col-md-10  col-md-offset-1 ">
 <div class="col-md-4 col-sm-4  text-justify" data-scrollreveal="enter left and move 100px, wait 0.8s">
                <img src="static/assets/img/th.jpg" alt="">
                </div>
                <div class="col-md-8 text-justify" data-scrollreveal="enter right and move 100px, wait 0.4s">

                    <h2 >  <strong class="color-red">ACADEMIC PROJECTS</strong></h2><br>
                    <h4><strong class="color-blue  text-justify"> 🧠 ONLINE SHOPPER'S INTENTION PREDICTION</strong></h4>
                    <p>
                        An online shopper's intention prediction involves using data analysis and machine learning techniques to forecast whether a user is likely to make a purchase, aiding businesses in targeted marketing.The project involves using various machine learning models to predict the shopper's purchase interests based on certain data analysis.
                    </p>
                   
                    <p>
                        <i class="fa fa-check"></i>Language: Python<br />
                     <i class="fa fa-check"></i> Models : Machine Learning algorithms<br />
                       <i class="fa fa-check"></i>Prediction accuracy: 89%<br />
                    </p>
                    <h4><strong class="color-blue"> 📖 ONLINE BOOK RECOMMENDATION SYSTEM</strong></h4>
                        <p>
                            An online book recommendation system utilizes user data and machine learning algorithms to suggest personalized book recommendations, enhancing user engagement and promoting book discovery.
                        </p>
                       
                        <p>
                            <i class="fa fa-check"></i>Language: Python<br />
                         <i class="fa fa-check"></i> Models : Deep Learning algorithms<br />
                           <i class="fa fa-check"></i>Accuracy: 85%<br />
                        </p>

                    
                </div>
                </div>
               
            </div>
            <!-- ./ Row Content-->
            <hr />
           <div class="row main-low-margin bottam-pad" >

                 <div class="col-md-10  col-md-offset-1 ">
                <div class="col-md-8 text-justify " data-scrollreveal="enter left and move 100px, wait 0.4s">

                    <h2 >  <strong class="color-red"> EXPERIENCE </strong></h2>
                    <h4><strong class="color-blue"> INTERNSHIP - ZETA CODING INNOVATIVE SOLUTIONS</strong></h4>
                    <h4><strong class="color-black"> 🔎 FAKE NEWS DETECTION USING LSTM</strong></h4>
                    <p>
                        "Fake news detection using LSTM employs Long Short-Term Memory neural networks to analyze textual content, helping to identify and combat the spread of misinformation in digital media."
                    </p>
                    <p>
                        <i class="fa fa-check"></i>Language: Python<br />
                        <i class="fa fa-check"></i> Models : Deep Learning algorithms<br />
                        <i class="fa fa-check"></i>Accuracy: 98%<br />
                    </p>
                    <h4><strong class="color-blue"> INTERNSHIP - NEXT BRAIN TECHNOLOGIES</strong></h4>

                    <h4><strong class="color-black"> 🧑🏻‍🏭 FACE RECOGNITION FOR ATTENDENCE MONITORING SYSTEM</strong></h4>
                        <p>
                            "Face recognition for attendance monitoring system utilizes advanced computer vision techniques, such as deep learning and facial recognition algorithms, to accurately identify and record the attendance of individuals, streamlining the attendance tracking process."
                        </p>
                        <p>
                            <i class="fa fa-check"></i>Language: Python<br />
                            <i class="fa fa-check"></i> Models : Deep  Learning algorithms<br />
                            
                        </p>
                        
                    
                </div>
                <div class="col-md-4 " data-scrollreveal="enter right and move 100px, wait 0.4s">
                    
                    <img class="img-margin-product" src="static/assets/img/image project2.png" alt="">
                </div>
                     </div>
            </div>
              <!-- ./ Row Content-->
        </div>
    </div>
    <!--END WORK/PRODUCTS SECTION -->
    <!--CONTACT SECTION -->
    <div id="contact-section">
        <div class="container" >
            <div class="row main-top-margin text-center">
                <div class="col-md-8 col-md-offset-2 " data-scrollreveal="enter top and move 100px, wait 0.3s">
                    <h1>CONTACT ME</h1>
                    <h4>
                        Feel free to get in touch with me for any data science opportunities or collaborations. 
                    </h4>
                </div>
            </div>
            <!-- ./ Main Heading-->
            <div class="row">
                <div class="col-md-12  col-sm-12 ">
                    <div class="col-md-6  " data-scrollreveal="enter left and move 100px, wait 0.4s">
                        <h3> My Work Location</h3>
                        <hr />
                        <p>
                            1/1A, K NO 46D,<br />
                            VMR Complex,<br />
                            Nagondahalli,<br />                          
                            Whitefield,Bengaluru, Karnataka<br />
                        Email: hello@nextbraintech.com<br />
                            </p>
                       
                    </div>
                    <div class="col-md-6  " data-scrollreveal="enter right and move 100px, wait 0.4s">
                        <h3>Get in touch / Ping me 👇🏻 </h3>
                        <hr />
                       <form method="post" action="/contact">

                            <div class="row">
                                <div class="col-md-6">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
                                    </div>


                <div class="col-md-6">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
                                </div>
                           </div>
        <br>
          <div class="row">
               <div class="col-md-12">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required>
                   </div>


        <br>

                            <div class="col-md-12">
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
                             </div>
                           </div>
        <br>
                           <div class= "text-center">
        <input type="submit" value="Submit">
                           </div>>
    </form>
                    </div>
                    
                </div>
            </div>
             <!-- ./ Row Content-->
        </div>
    </div>  
    <!--END CONTACT SECTION --> 
    <!--FOOTER SECTION -->
    <div id="footer">
        <div class="container">
            <div class="row ">
               			
		
            </div>
            
        </div>
       
    </div>  
    <!--END FOOTER SECTION --> 
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script src="static/assets/js/jquery.js"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="static/assets/js/bootstrap.min.js"></script>
     <!-- SCROLL REVEL LIBRARY FOR SCROLLING ANIMATIONS-->
    <script src="static/assets/js/scrollReveal.js"></script>
       <!-- CUSTOM SCRIPT-->
    <script src="static/assets/js/custom.js"></script>
</body>
</html>
